/.phpunit.cache
/node_modules
/public/build
/storage/app/certificate-2023-12-21-bnpl.pem
/storage/app/private.key
/public/hot
/public/storage
/storage/*.key
/vendor
.nvmrc
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.vscode
*.txt
*.log
*.mov
*.xml
sync.sh
public/yandex_products_feed.xml
